#modal-container {
    height: 100vh;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-box {
    background-color: #f1f4f3;
    padding: 30px 20px 20px;
    border-radius: 10px;
    display: none;
}

.modal-none {
    display: none;
}

.modal-show {
    display: block;
}

#modal-box h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

#modal-box p {
    opacity: .7;
}

.btn-div {
    text-align: right;
}

#close-btn {
    text-align: center;
    padding: 9px 15px;
    font-size: 1rem;
    font-weight: 600;
    background: #6280e0;
    color: white;
    border: none;
    border-radius: 5px;
}

#open-modal {
    padding: 9px 15px;
    font-size: 1rem;
    font-weight: 600;
    background: #315adf;
    color: white;
    border: none;
    border-radius: 5px;
}